h1 {
    animation: transitionIn 2s;
    color: white;
    text-align: center;
    margin-top: 15%;
    letter-spacing: 4px;
    font-size: 2.2em;
}
h2 {
    display: block;
    text-align: center;
    color: white;
    animation: transitionIn 2s;
    margin-top: 26%;
}
h2 > a {
    text-decoration: underline;
    transition: all 0.3s ease 0s;
    font-size: 1em;
}
  
li {
    transition: all 0.3s ease 0s;
    padding-top: 10px;
}
li > a {
    transition: all 0.3s ease 0s;
    text-decoration: underline;
}
  
.stuff, .about {
    padding-top: 20px;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: underline;
}
  
#stuff, #about {
    transition: all 0.3s ease 0s;
    animation: transitionIn 2s;
    color: white;
    text-align: center;
    list-style: none;
    font-size: 1.1em;
    margin-top: 30px;
    margin-bottom: 10px;
  
    border-width: 10px;
    border-color: white;
    border-style: solid;
    width: 800px;
}
#stuff {
    float: left;
    margin-left: 60px;
}
#about {
    float: right;
    margin-right: 60px;
}
  
#stuff, #about > div {
    list-style: none;
}
.stuffido, .aboutme {
    margin-bottom: 10px;
}
.stuffido > a {
    text-decoration: underline;
}

.tests {
    animation: transitionIn 2s;
    margin-top: 25%;
    text-align: center;
    color: white;
    font-size: 1.1em;
}
.tests > a {
    text-decoration: underline;
}


@media only screen and (max-width: 600px){
    h1 {
        text-align: center;
        font-size: 0.9em;
        margin-top: -55px;
        margin-bottom: 20px;
    }
    #stuff, #about {
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 0;
        width: 280px;
        float: none;
        border-width: 6px;
        margin-bottom: 5px;
    }
    .stuff, .about {
        font-size: 0.9em;
        margin: 0;
        padding: 0;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    .stuffido, .aboutme {
        font-size: 0.5em;
        margin: 0;
        padding: 0;
        margin-bottom: 5px;
    }
    .stuffido > a {
        text-decoration: underline;
    }
}
  