/* main master, nothing changes here. any speicific changes will be in its own css file */

body {
  box-sizing: border-box;
  background-color: #141414;
  margin: 0;
  margin-top: calc(240px /*header offset*/ + 20px /*actual margin*/);
  padding: 0;
  font-size: 2em;
}
::selection {
  background-color: white;
  color: black;
}


* {
  scrollbar-color: #343434 #0B0B0B;
  scrollbar-width: thin;
}
::-webkit-scrollbar {
  width: 15px;
  background-color: #0B0B0B;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #343434; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4e4e4e;
}


a {
  transition: all 0.3s ease 0s;
  color: #fff;
  text-decoration: underline;
}
a:visited {
  transition: all 0.3s ease 0s;
  color: #fff;
  text-decoration: underline;
}
a:hover, a:active, a:focus {
  transition: all 0.3s ease 0s;
  color:#c33;
  text-decoration: underline;
}


@keyframes transitionIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes HeaderAnimIn {
  from {
      transform: translate(0px, -20px);
      opacity: 0;
  }
  to {
      transform: translate(0px, 0px);
      opacity: 1;
  }
}



header > div, a, button {
  font-weight: 500;
  color: white;
  text-decoration: none;
}
header {
  animation: HeaderAnimIn 1.5s ease;
  background-color: #0c0c0c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 126px;
  width:calc(100% - calc(124.917px + 124.917px));
  font-size: 1em;
  position: fixed;
  top: 0;
  height: 160px;
  box-shadow: 0px 10px 10px #070707;
  z-index: 1;
  cursor: default;
}

.nav_logo {
  width: 10%;
  margin-left: 50px;
  margin-right: 0%;
}
.nav_links {
  list-style: none;
}
.nav_links div {
  display: inline-block;
  padding: 0px 20px;
}
.nav_links > div a {
  cursor: pointer;
  color: #636;
  transition: all 0.2s ease 0s;
  text-decoration: underline;
}
.nav_links > div a:visited {
  color: #636;
  transition: all 0.2s ease 0s;
  text-decoration: underline;
}
.nav_links > div a:hover {
  color: #c33;
  transition: all 0.2s ease 0s;
  text-decoration: underline;
}
.header_button {
  transition: all 0.2s ease 0s;
  padding: 9px 25px;
  background-color: green;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 0.8em;
}
.header_button:hover {
  background-color: darkgreen;
}


@media only screen and (max-width: 600px){
  body {
    overflow: visible;
  }
  header {
    padding: 0;
    font-size: 0.5em;
    width: 320px;
    margin: 0;
  }
  .nav_logo, .header_button {
    display: none;
  }
  .nav_links {
    font-size: 1.5em;
    text-align: center;
    width: auto;
  }
}