/* would you look at that im using css */

/* -----master----- */
body {
    animation: transitionIn 0.8s;
    background-color: #141414;
    font-size: 2em;
}

.divider{
    color: #141414;
}

 
a {
    color: #0063d4;
}
a:visited {
    color: #636;
}
a:hover, a:active, a:focus {
    color:#c33;
    font-weight: bold;
}
/* -----master end----- */

/* ---index--- */
#index_title{
    color: #ffffff;
    text-align: center;
    margin-top: 200px;
}
.index_misc-text{
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
} 
.index_note{
    color: #ffffff;
    text-align: center;
    font-size: 0.85em;
}
/* ---index end--- */

/* ---socials--- */
#socials_title{
    color: #ffffff;
    text-align: center;
    font-size: 1.7em;
}
#socials_index{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 120px;
    font-size: 1.1em;
}
.socials_links{
    color: #ffffff;
    text-align: center;
    margin-top: 1px;
    font-size: 1.2em;
}
/* ---socials end--- */

/* ---404--- */
#error_main{
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
}
.error_img{
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
}
.error_hmm{
    color: #ffffff;
    text-align: center;
    font-size: 1em;
}
.error_note{
    color: #141414;
    text-align: center;
    font-size: 1em;
}

/* ---404 end--- */

/* page transition */
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}