h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 15px;

  &.first {
    margin-top: 100px;
  };
  &:not(.first){
    margin-top: 40px;
  }
}

.desc {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  &.me {
    width: 57%;
  }
  &.software {
    width: 45%;
  }

  img:not(a img) {
    height: 25px;
    margin-left: -5px;
    vertical-align: middle;
  }
  a img {
    width: 30px;
    margin-right: 5px;
    vertical-align: middle;
  }
  .space {
    margin: 10px 0;
  }
  .info {
    font-size: .75em;
    text-align: left;
    margin-top: 5px;
    margin-left: 25px;
  }
}

.pcspecs {
  $--t-brdr: 2px #aaa dashed;
  font-size: 22px;
  margin: 0 auto 100px;
  text-align: left;
  background: rgb(15, 15, 15);
  padding: 5px 15px 20px;

  th,
  td {
    border-bottom: $--t-brdr;
    padding: 10px 20px;
    &:not(:first-child) {
      border-left: $--t-brdr;
    }
  }

  tr:last-child td {
    border-bottom: none;
    padding-bottom: 5px;
  }
}


@import './mobile';