body {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  margin: 0;
}

#refheader {
  font-size: 3em;
  font-weight: bold;
  margin-top: 70px;
}
.refcont {
  margin: 0 auto;
  text-align: left !important;
  width: 60%;
  font-size: 1.5em;
}
.ref {
  width: 100%;
  margin-top: 10px;
}

.divider {
  width: 70%;
  height: 5px;
  background-color: grey;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 50px;
}

#artheader {
  font-size: 2em;
  margin-top: 50px;
}
.artcont {
  width: 600px;
  display: block;
  margin: 0 auto;
}
.art {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin: 10px;
  background: rgba(0, 0, 0, .3);
}



@media only screen and (max-width: 650px) {
  .refcont {
    width: 90%;
  }
  .artcont {
    width: 80%;
  }
  #refheader {
    font-size: 2em;
    margin-top: 50px;
  }
  #artheader {
    font-size: 1.3em;
  }
}