@use '../vars' as mstr;

body {
  text-align: center;
  margin: 0 auto;
}

#back {
  transition: padding .2s ease;
  &:not(:first-child) {
    top: 60px;
  }
}

.divider {
  width: 80%;
  height: 5px;
  background-color: grey;
  display: block;
  margin: 50px auto;
  border-radius: 50px;
}

#refcont {
  $--ref-w: 55%;
  position: relative;
  width: $--ref-w;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 2.5em;

  .refheader {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  img {
    width: 100%;
    &.ref {
      width: 100%;
      opacity: 1;
      transition: .2s ease;
      filter: saturate(1);
      
      &.green1, &.green2,
      &.pink, &.grey,
      &.black, &.white, &.blue {
        opacity: .15;
        transition: .2s ease;
        filter: saturate(.15);
      }
    }
    &.overlays {
      position: absolute;
      width: 100%;
      opacity: 0;
      transition: .2s ease;
      &.visible {
        opacity: 1;
        transition: .2s ease;
      }
    }
  }
  
  .hexcodes {
    display: block;
    margin: 0 auto;
    width: 75%;
    .hcodes {
      display: inline-table;
      padding: 5px;
      margin-top: 10px;
      &[style*="#ccff00"],
      &[style*="#ffffff"] {
        color: mstr.$main-bg;
      }
    }
  }
}

#artcont {
  width: 600px;
  margin: 0 auto;
  &:has(
    img[src*="eolixa"],
    img[src*="eutumned"],
    img[src*="tuftdog"]
    ){
      width: 800px;
    img {
      width: 49%;
    }
  }

  img {
    margin: 5px auto;
    width: 100%;
  }
  
  .artheader {
    font-size: 1.75em;
    margin-bottom: 5px;
    &::before {
      content: "art by:";
      cursor: text;
    }

    a {
      font-weight: bold;
      text-decoration: underline;
      &::before {
        content: "@";
        cursor: pointer;
      }
    }
  }
  .nsfwimg {
    filter: blur(25px) saturate(.5);
    opacity: .25;
    transition: all .2s ease;
    &:hover {
      filter: blur(0) saturate(1);
      opacity: 1;
      transition: all .2s ease;
    }
  }
  .base {
    font-size: 1.75em;
  }
}

.nsfw,
#back.third {
  display: none;
}



@media screen and (max-width: 720px) {
  #back {
    &.second {
      display: block;
      top: 50px;
    }
  }
  .divider {
    width: 75%;
    height: 3px;
    margin: 25px auto;
  }
  
  #refcont {
    width: 90%;
    font-size: 1.75em;
    margin-top: 100px;
    img {
      width: 90% !important;
    }
  }
  
  #artcont {
    width: 80%;
    &:has(
      img[src*="eolixa"],
      img[src*="eutumned"],
      img[src*="tuftdog"]
      ){
        width: 90%;
      img {
        width: 50%;
      }
    }
  }
}