body {
  text-align: center;
  margin: 0 auto;
}

#back {
  transition: padding .2s ease;
  &.second {
    top: 60px;
  }
}

.divider {
  width: 80%;
  height: 5px;
  background-color: grey;
  display: block;
  margin: 50px auto;
  border-radius: 50px;
}
#refcont {
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 2.5em;

  .refheader {
    font-weight: bold;
    margin-bottom: 5px;
  }
  img.overlays {
    position: absolute;
    width: 1000px;
    opacity: 0;
    transition: .2s ease;
    &.visible {
      opacity: 1;
      transition: .2s ease;
    }
  }
  #ref {
    width: 100%;
    opacity: 1;
    transition: .2s ease;
    filter: saturate(1);
    
    &.green1, &.green2,
    &.pink, &.grey,
    &.black, &.white, &.blue {
      opacity: .15;
      transition: .2s ease;
      filter: saturate(.15);
    }
  }
  
  .hexcodes {
    display: block;
    margin: 0 auto;
    width: 75%;
    .hcodes {
      display: inline-table;
      padding: 5px;
      margin-top: 10px;
      &[style*="#ccff00"],
      &[style*="#ffffff"] {
        color: var(--main-bg);
      }
    }
  }
}
.lightmode .hexcodes {
  width: 80% !important;
  .hcodes {
    border: 2px var(--main-bg) solid;
    &[style*="#212121"],
    &[style*="#172758"] {
      color: var(--main-fg);
    }
  }
}


#artcont {
  width: 600px;
  margin: 0 auto;
  &:has(img[src*="eolixa"],
  img[src*="eutumned"],
  img[src*="tuftdog"]) {
    width: 800px;

    img {
      width: 49%;
    }
  }

  img {
    margin: 5px auto;
    width: 100%;
  }
  
  .artheader {
    font-size: 1.75em;
    margin-bottom: 5px;

    &::before {
      content: "art by:";
      cursor: text;
    }

    a {
      font-weight: bold;
      text-decoration: underline;

      &::before {
        content: "@";
        cursor: pointer;
      }
    }
  }
  .base {
    font-size: 1.75em;
  }
}

.dynamic-content {
  display: none;
}



@media screen and (max-width: 720px) {
  #back.second {
    display: block;
    top: 50px;
  }
  .divider {
    width: 75%;
    height: 3px;
    margin: 25px auto;
  }
  
  #refcont {
    width: 90%;
    font-size: 1.75em;
    margin-top: 100px;
  }
  
  #artcont {
    width: 80%;
  }
}