#nav {
    animation: navAnim 2s ease;
    top: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    letter-spacing: 5px;
}

#socials {
    animation: animIn 1s ease;
    display: inline-block;
    font-size: 2.5em;
    margin-top: 12%;
}


@keyframes navAnim {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



@media only screen and (max-width: 600px){
    #nav {
        font-size: 1.2em;
    }
    #socials {
        font-size: 1.5em;
        margin-top: 25%;
    }
}