#socials {
    display: inline-block;
    font-size: 2.5em;
    margin-top: 10%;
}

#back {
    animation: backAnim 1.5s 0.5s ease forwards;
    opacity: 0;
    text-align: left;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    color: #fff;
    height: 50px;
    width: 10%;
    font-size: 1.5em;
    margin-left: -9px;
    margin-top: -5px;
}
.back {
    padding-left: 20px;
    padding-top: 5px;
}


.a {
    animation: animIn 1s 0.5s ease forwards;
    opacity: 0;
}
.b {
    animation: animIn 1s 0.7s ease forwards;
    opacity: 0;
}
.c {
    animation: animIn 1s 0.9s ease forwards;
    opacity: 0;
}
.d {
    animation: animIn 1s 1.1s ease forwards;
    opacity: 0;
}
.e {
    animation: animIn 1s 1.3s ease forwards;
    opacity: 0;
}
.f {
    animation: animIn 1s 1.5s ease forwards;
    opacity: 0;
}
.g {
    animation: animIn 1s 1.7s ease forwards;
    opacity: 0;
}
.h {
    animation: animIn 1s 1.9s ease forwards;
    opacity: 0;
}
.i {
    animation: animIn 1s 2.1s ease forwards;
    opacity: 0;
}
.j {
    animation: animIn 1s 2.3s ease forwards;
    opacity: 0;
}
.k {
    animation: animIn 1s 2.5s ease forwards;
    opacity: 0;
}


@keyframes backAnim {
    from {
        transform: translateX(-300px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}




@media only screen and (max-width: 600px){
    #socials {
        font-size: 1.5em;
        margin-top: 25%;
    }
    #back {
        display: none;
    }
}