#back {
    animation: backAnim 1.5s 0.5s ease forwards;
    opacity: 0;
    text-align: left;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    color: #fff;
    height: 50px;
    width: 10%;
    font-size: 1.5em;
    margin-left: -9px;
    margin-top: -5px;

    position: fixed;
}
.back {
    padding-left: 20px;
    padding-top: 5px;
}

body {
    text-align: center;
}

#refheader {
    font-size: 3em;
    font-weight: bold;
    margin-top: 70px;
}
.imgcont {
    margin: 0 auto;
    text-align: left !important;
    width: 60%;
    font-size: 1.5em;
}
.ref {
    width: 100%;
    margin-top: 10px;
}

.divider {
    width: 80%;
    height: 5px;
    background-color: grey;

    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 50px;
}

#artheader {
    font-size: 2em;
    margin-top: 50px;
}
.art {
    display: block;
    margin: 0 auto;
    width: 40%;
    margin-top: 10px;
}



@media only screen and (max-width: 600px){
    #back {
        display: none;
    }

    #refheader {
        font-size: 1.9em;
        font-weight: bold;
        margin-top: 20px;
    }
    .imgcont {
        width: 90%;
        font-size: 1em;
    }
    .ref {
        width: 100%;
        margin-top: 10px;
    }
    .divider {
        width: 80%;
        height: 5px;
        background-color: grey;
    
        display: block;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 50px;
    }
    #artheader {
        font-size: 1.2em;
        margin-top: 50px;
    }
    .art {
        display: block;
        margin: 0 auto;
        width: 80%;
        margin-top: 10px;
    }
}
