body {
  text-align: center;
}

#refheader {
  font-size: 3em;
  font-weight: bold;
  margin-top: 70px;
}
.refcont {
  margin: 0 auto;
  text-align: left !important;
  width: 60%;
  font-size: 1.5em;
}
.ref {
  width: 100%;
  margin-top: 10px;
}

.divider {
  width: 80%;
  height: 5px;
  background-color: grey;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 50px;
}

#artheader {
  font-size: 2em;
  margin-top: 50px;
}
.artcont {
  width: 40%;
  display: block;
  margin: 0 auto;
}
.art {
  width: 100%;
  margin-top: 10px;
  background: rgba(0, 0, 0, .3);
}