@mixin imgpos {
  position: relative;
  vertical-align: bottom;
  bottom: 2px;
  margin-right: 5px;
}

@mixin svgstuff {
  width: 24px;
  height: 24px;
  fill: #fff;
}

@mixin transtiming($prop, $length: 200ms, $tf: ease) {
  transition-property: $prop;
  transition-duration: $length;
  transition-timing-function: $tf;
}