h1 {
  font-size: 25px;
  a {
    img {
      height: 25px;
    }
  }
}

ul {
  margin-top: 5px;
}

footer {
  user-select: none;
  width: 95%;
  p:nth-last-child(3) {
    display: none;
  }
}


#oneko,
#weather {
  display: none !important;
}