@mixin imgpos {
  position: relative;
  vertical-align: bottom;
  bottom: 2px;
  margin-right: 5px;
}

@mixin svgstuff {
  width: 24px;
  height: 24px;
  fill: #fff;
}


@keyframes colon {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#weather {
  position: fixed;
  right: 0;
  top: 0;
  background: #0005;
  width: fit-content;
  height: 100px;
  padding: 5px 30px 5px 10px;
  border-bottom-left-radius: 15px;
  img {
    float: left;
  }
  .txt {
    float: right;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    .time .colon {
      animation: colon 2s steps(1, end) 0s forwards infinite;
    }
  }
}


#head {
  h1 {
    font-size: 30px;
    margin-bottom: 4px;
    a {
      color: #2a2 !important;
      text-decoration: underline;
      img {
        @include imgpos;
        height: 30px;
      }
    }
  }
  .desc {
    font-size: 20px;
    img, svg {
      height: 24px;
      width: 24px;
      vertical-align: middle;
    }
  }
}

.links {
  width: 25%;
  ul {
    list-style: none;
    padding-left: 20px;
    li svg {
      @include imgpos;
      @include svgstuff;
    }
  }
}


.actcont {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  .spotify, .game {
    width: 50%;
    border: 2px solid #000a;
    background: #0005;
    img {
      float: left;
      width: calc(26px * 4 - 5px);
      height: calc(26px * 4 - 5px);
      margin-right: 5px;
      padding: 5px;
    }
    span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}


footer {
  user-select: none;
  position: fixed;
  font-size: 15px;
  left: 10px;
  bottom: 20px;
  width: 100%;
  color: #888;
  text-align: left;
  p {
    margin: 1px 0;
    &:has(a) {
      user-select: text;
    }
  }
}


@media only screen and (max-width: 600px) {@import './mobile';}