@mixin transtiming($prop, $length: 200ms, $tf: ease) {
  transition-property: $prop;
  transition-duration: $length;
  transition-timing-function: $tf;
}

@keyframes colon {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


#weather {
  position: fixed;
  right: 0;
  top: 0;
  background: #0005;
  width: fit-content;
  height: 100px;
  padding: 5px 30px 5px 10px;
  border-bottom-left-radius: 15px;
  @include transtiming(opacity);
  img {
    float: left;
  }
  .txt {
    float: right;
    text-align: left;
    font-size: 25px;
    .desc {
      font-weight: bold;
    }
    .time {
      .colon {
        animation: colon 2s steps(1, end) 0s forwards infinite;
      }
      .tz {
        font-style: italic;
        font-size: 20px;
      }
    }
  }
}


#head {
  h1 {
    font-size: 30px;
    margin-bottom: 4px;
    a {
      color: #2a2 !important;
      text-decoration: underline;
      .imgs {
        display: inline-block;
        position: relative;
        width: 33px;
        height: 33px;
        vertical-align: bottom;
        margin-right: 5px;
        img.avt {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          @include transtiming(border-radius);
        }
        img.decor {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(1.2);
          z-index: 2;
          width: 100%;
          height: 100%;
          @include transtiming(opacity);
        }
      }
    }
  }
  .desc {
    font-size: 20px;
    img, svg {
      height: 24px;
      width: 24px;
      vertical-align: middle;
    }
  }
}

.links {
  width: 25%;
  ul {
    list-style: none;
    padding-left: 20px;
    li {
      margin: 2px 0;
      svg {
        position: relative;
        vertical-align: bottom;
        width: 24px;
        height: 24px;
        fill: #fff;
        bottom: 2px;
        margin-right: 5px;
      }
    }
  }
}


.actcont {
  display: flex;
  justify-content: space-between;
  width: 420px;
  gap: 4px;
  .spotify {
    width: 100%;
    border: 2px solid #000a;
    background: #0005;
    @include transtiming(opacity);
    img {
      float: left;
      width: calc(26px * 4 - 5px);
      height: calc(26px * 4 - 5px);
      margin-right: 5px;
      padding: 5px;
    }
    span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .progbar {
      position: relative;
      display: block;
      background: #1bc357;
      width: 0px;
      height: 3px;
      left: 0px;
      bottom: -2px;
      @include transtiming(width, 1s, linear);
    }
  }
}


footer {
  position: fixed;
  font-size: 15px;
  margin: 0 0 5px 10px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  color: #888;
  text-align: left;
}
