.back {
  display: none;
}

h1 {
  font-size: 25px;
  margin-top: 50px;
}

.ref {
  span {
    font-size: 17px;
  }
  img {
    display: block;
    width: 90%;
  }
}

.gallery .cont {
  width: 90%;
  figcaption {
    font-size: 25px;
  }
}