#title {
    animation: animIn 1s 0.5s ease forwards;
    font-size: 2em;
    margin-top: 10%;
    opacity: 0;
}
#title > div {
    animation: animIn 1s 1s ease forwards;
    opacity: 0;
}


.icons {
    animation: animIn 1s 1.5s ease forwards;
    display: block;
    margin-top: 30px;
    position: relative;
    word-wrap: normal;
    white-space: nowrap;
    opacity: 0;
}
.iconimg {
    display: inline;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    width: 50px;
    filter: invert(100%);
}

.iconlink {
    transition: all ease 0.3s;
    color: #141414;
    text-decoration: none;
}
.iconlink:hover {
    transition: all ease 0.3s;
    color: #141414;
    text-decoration: none;
}


.links {
    animation: animIn 1s 2s ease forwards;
    margin-top: 30px;
    display: inline-block;
    font-size: 1.8em;
    opacity: 0;
}


.discord {
    animation: animIn 1s 2.5s ease forwards;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 35%;
    opacity: 0;
}

.discordmobile {
    display: none;
    visibility: hidden;
}




@media only screen and (max-width: 600px){
    #title {
        font-size: 1.5em;
        margin-top: 28%;
    }
    .links {
        font-size: 1.3em;
        margin-top: 30px;
    }
    .iconimg {
        width: 35px;
    }
    .discord {
        display: none;
        width: 80%;
        margin-top: 40px;
    }
    .discordmobile {
        display: block;
        visibility: visible;
        font-size: 0.9em;
        text-align: center;
        margin: 0 auto;
        animation: animIn 1s 1.5s ease forwards;
        opacity: 0;
        margin-top: 10px;
    }
}
