body {
    text-align: center;
    padding: 0;
    margin: 0;
}

/*
#name {
    font-weight: bold;
    font-size: 3.5em;
    margin-top: 300px;
}
*/
#namegif {
    animation: animIn 1s 0.5s ease forwards;
    opacity: 0;

    display: block;
    margin: 0 auto;

    width: 550px;
    margin-top: 100px;
}

#bio {
    animation: animIn 1s 1s ease forwards;

    opacity: 0;
    font-size: 2.5em;
}

#icons {
    animation: animIn 1s 1.5s ease forwards;
    opacity: 0;
    display: block;

    padding: 0;
    margin-top: 30px;

    position: relative;
    word-wrap: normal;
    white-space: nowrap;
    text-decoration: none !important;
}
.iconlink {
    text-decoration: none !important;
    display: inline-block;
}

svg, svg:visited {
    transition: all 0.3s ease;
    width: 55px;
    fill: #fff;

    margin-left: 5px;
    margin-right: 5px;
}
svg:hover, svg:active, svg:focus {
    transition: all 0.3s ease;
    fill: #00df00;
}

.discmob {
    display: none;
    visibility: hidden;
}

#links {
    animation: animIn 1s 2s ease forwards;
    opacity: 0;

    width: 100%;

    margin: 0 auto;

    font-size: 2.5em;
    margin-top: 30px;
}
.link {
    display: inline-block;
}

.tooltip {
    position: relative;
    display: inline-block;

    transition-duration: 0.3s;
}
.tooltip .tooltiptext {
    opacity: 0.0;
    transform: scaleY(0.0);

    width: auto;
    max-width: 400px;

    background-color: #646464;
    color: #fff;

    border: 0px solid #00df00;
    border-radius: 50px;

    transition-duration: 0.3s;

    text-align: center;
    font-size: 16px;
    padding: 5px;

    box-shadow: 0px 0px 0px #ffffff;

    margin-left: 5px;
    margin-top: 5px;

    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    opacity: 1.0;
    transform: scaleY(1.0);
    transition-duration: 0.3s;

    border: 3px solid #00df00;
    box-shadow: 0px 0px 10px #ffffff;
}
/* thanks bonkmaykr :) */


@media only screen and (max-width: 600px){
    #name {
        font-size: 2em;
        margin-top: 100px;
    }
    #bio {
        font-size: 1.5em;
        margin-top: 20px;
    }
    svg {
        width: 35px;
        margin: 0;
    }
    .tooltip .tooltiptext, .discord {
        display: none;
    }
    .discmob {
        animation: animIn 1s 1.5s ease forwards;

        display: block;
        visibility: visible;
        opacity: 0;

        font-size: 1em;
        margin-top: 10px;
    }
    #links {
        font-size: 1.5em;
    }
}


.blinker {
    animation: blinker 1s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}