body {
  font-family: 'Courier New', Courier, monospace !important;
  padding: 0;
  margin: 0;
  color: #fff;
  background: #141414;
}

::selection {
  background: #fff;
  color: #000;
}

:root {
  --link-colour: #00df00;
}


a, a:visited, a:focus {
  transition: all 0.3s ease;
  color: #fff;
}
a:hover, a:active {
  transition: all 0.3s ease;
  color: var(--link-colour);
}


* {
  scrollbar-color: #343434 #0B0B0B;
  scrollbar-width: medium;
}
::-webkit-scrollbar {
  width: 15px;
  background-color: #0B0B0B;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #343434; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4e4e4e;
}


@keyframes animIn {
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@media only screen and (max-width: 650px) {
  body {
    padding: 5;
    margin: 5;
  }
}