body {
  background: #141414;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin: 15px 0 0 25px;
  font-size: 22px;
}

::selection {
  background: #fff;
  color: #000;
}


a,
a:visited {
  color: #0080ff;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #9c30ff;
  text-decoration: underline;
}

h1 a,
h1 a:visited {
  color: #2a2;
  text-decoration: none;
}

h1 {
  font-size: 30px;
}
h1 img {
  vertical-align: bottom;
  height: 33px;
  margin-right: 5px;
}

ul li {
  margin: 5px 0;
}

.spotify {
  font-size: 20px;
  margin-top: 50px;
}
.spotify .info {
  margin: 5px 0 0 10px;
}
.spotify .cover {
  float: left;
  height: 46px;
  margin-right: 10px;
}
.spotify .title a {
  color: #fff;
  text-decoration: underline;
}
.spotify .title a:hover {
  color: #9c30ff;
}

.footer {
  position: fixed;
  font-size: 15px;
  left: 10px;
  bottom: 20px;
  width: 100%;
  color: #aaa;
  opacity: .75;
  text-align: left;
}
.footer p {
  margin: 2px 0;
}