/* would you look at that im using css */
/* BY THE WAY THIS IS AN ABSOLUTE MESS PLEASE DONT LOOK AT IT */

/* -----master----- */
body {
    animation: transitionIn 0.8s;
    box-sizing: border-box;
    background-color: #141414;
    margin: 0;
    padding: 0;
    font-size: 2em;
}

.divider{
    color: #141414;
}

    /* link colours */
    a {
        color: #0063d4;
    }
    a:visited {
        color: #636;
    }
    a:hover, a:active, a:focus {
        color:#c33;
        font-weight: bold;
}
/* -----master end----- */

/* ------------------------------------------------------- */

/* ----nav stuff---- */
li, a, button {
    font-weight: 500;
    font-size: 22px;
    color: white;
    text-decoration: none;
}

header {
    background-color: rgb(12, 12, 12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav_logo {
    cursor: pointer;
    width: 130;
    height: 130;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    text-decoration: underline;
}

button {
    padding: 9px 25px;
    background-color: rgba(21,143,0, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(21,143,0, 0.6);

}
/* ----nav stuff end---- */

/* ------------------------------------------------------- */

/* ---index--- */
#index_title{
    color: #ffffff;
    text-align: center;
    margin-top: 200px;
}
.index_misc-text{
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
} 
.index_note{
    color: #ffffff;
    text-align: center;
    font-size: 0.85em;
}
/* ---index end--- */

/* ---index2--- */
#index_title2{
    color: #ffffff;
    text-align: center;
    margin-top: 200px;
    font-size: 2em;
}
.index_misc-text2{
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
} 
.index_note{
    color: #ffffff;
    text-align: center;
    font-size: 0.85em;
}
/* ---index2 end--- */

/* ------------------------------------------------------- */

/* ---socials--- */
.socials_links{
    color: #ffffff;
    text-align: center;
}
.socials_img-links{
    width: 40px;
    height: 40px;
}
/* ---socials end--- */

/* ------------------------------------------------------- */

/* ---things--- */
.thing_img {
    display: block;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 74%;
  }
/* ---things end--- */

/* ------------------------------------------------------- */

/* ---404--- */
#error_main{
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    margin-top: 10px;
}
.error_img{
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
}
.error_hmm{
    color: #ffffff;
    text-align: center;
    font-size: 1em;
}
.error_note{
    color: #141414;
    text-align: center;
    font-size: 1em;
}

/* ---404 end--- */

/* ------------------------------------------------------- */

/* --scrollbar-- */
/* width */
::-webkit-scrollbar {
    width: 13px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #343434; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4e4e4e;
  }
/* --scrollbar end-- */

/* ------------------------------------------------------- */

/* --page transition-- */
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}