@use '../vars' as mstr;

body {
  overflow: hidden;
}

ul {
  text-align: center;
  list-style: none;
  font-size: mstr.$fz-nm;
  margin-top: 115px;
  padding: 0;
  
  li.nsfw a::before {
    content: "🔞";
  }
}

.nsfw,
.second {
  display: none;
}

#back:not(:first-child) {
  top: 60px;
}

@media only screen and (max-width: 720px) {
  @import './mobile';
}