@media only screen and (max-width: 720px) {
  #avatar {
    margin: 15px auto 5px;
    width: 175px;
  }
  
  #bio {
    font-size: mstr.$fz-nm-m;
  }
  #links {
    font-size: mstr.$fz-nm-m;
    width: 100%;
    margin: 0;
  }
  #icons {
    margin-top: 10px;
    svg,
    svg rect {
      width: mstr.$svg-wh-m;
      height: mstr.$svg-wh-m;
    }
  }
  #furcode {
    display: none;
  }
}