body {
  text-align: center;
}

.icons br {
  display: none;
  opacity: 0;
  visibility: hidden;
}


#centerdiv {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90%;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 0;
  vertical-align: middle;
  width: 100%
}


.avatar {
  border-radius: 50%;
  width: 200px;
  transition: all .3s ease;

  animation: var(--animin-transition2);
  animation-delay: 1s;
  opacity: 0;

  border-color: #fff;
  border-width: 5px;
  border-style: solid;
}

.name {
  font-size: 3.5em;
}
.bio {
  animation: var(--animin-transition);
  animation-delay: 1s;
  opacity: 0;
  font-size: 2.5em;
}

.icons {
  display: inline-flex;
  align-items: center;
  padding: 0;
  margin: 30px;
  position: relative;
}
.icons a {
  animation: var(--animin-transition);
  opacity: 0;
  margin: auto 5px;
}

.icons a:nth-child(1) {
  animation-delay: 1.5s;
}
.icons a:nth-child(2) {
  animation-delay: 1.6s;
}
.icons a:nth-child(3) {
  animation-delay: 1.7s;
}
.icons a:nth-child(4) {
  animation-delay: 1.8s;
}
.icons a:nth-child(5) {
  animation-delay: 1.9s;
}
.icons a:nth-child(6) {
  animation-delay: 2s;
}
.icons a:nth-child(7) {
  animation-delay: 2.1s;
}
.icons a:nth-child(8) {
  animation-delay: 2.2s;
}
.icons a:nth-child(9) {
  animation-delay: 2.3s;
}

svg, svg:visited, svg:focus {
  transition: all .3s ease;
  height: 60px;
  fill: #fff;
}
svg:hover, svg:active {
  transition: all .3s ease;
  fill: var(--link-colour);

}


.linkcontainer {
  animation: var(--animin-transition);
  animation-delay: 2.7s;
  opacity: 0;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: table;
  width: 500px;
  text-align: center;
  font-size: 2.5em;

  cursor: default;
}
.link {
  display: inline-block;
  position: relative;
  padding: 10;
  transition: all .3s ease;
}
.link a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 5px 20px;
  position: relative;
  transition: all .3s ease;
}
.link a:hover {
  color: var(--link-colour);
  transition: all .3s ease;
}
.link a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  left: 25%;
  height: 2px;
  width: 50%;
  position: absolute;
  background: #fff;
  transition: all .3s ease;
}
.link a:hover:after { 
  width: 100%;
  left: 0;
  background: var(--link-colour);
  transition: all .3s ease;
}


.blinker {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}


@media only screen and (max-width: 650px) {
  body {
    overflow-x: hidden;
  }
  .icons br {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .avatar {
    width: 125px;
    border-width: 2px;
  }
  .name {
    font-size: 2em;
  }
  .bio {
    animation: var(--animin-transition);
    animation-delay: 1s;
    opacity: 0;
    font-size: 1.5em;
  }
  .bio span {
    display: none;
  }
  .icons {
    display: block;
  }
  .icons a {
    margin: 0 auto;
    margin: 5px;
    text-decoration: none !important;
  }
  svg, svg:visited, svg:focus {
    transition: all .3s ease;
    height: 40px;
    fill: #fff;
  }
  .linkcontainer {
    font-size: 2em;
    display: flex;
  }
}